{% load  filters %}
<!DOCTYPE html>
<header>
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="../../../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#ajax_commit').click(function () {
                console.log("ajax_commit");
                var usename = $('#ajax_username').val();
                var password = $('#ajax_password').val();
                var rmUsername = $('#remember_username').is(':checked');
                var auLogin = $('#auto_login').is(':checked');

                var temp_username=rmUsername?usename:""//same as username

                console.log("rmUsername="+temp_username+"auLogin="+auLogin);

                $.ajax({
                    'type': 'POST',
                    'url': 'ajax_handle',
                    'dataType': 'json',
                    async: false, //发起的是异步请求，还是同步请求 两种写法都可以。
                    // 'async':false,
                    data: { ajax_username: usename, ajax_password: password,
                    
                        rm_username: temp_username,au_login:auLogin },
                    success: function (data) {
                        console.log("xxxxx susscess" + usename + "password=" + password);

                        if (data.res == 1) {
                            var $loginInfo = $('.login_info')
                            $loginInfo.css('display', 'block');
                            $loginInfo.html("login success")
                        } else if (data.res == 0) {
                            var $loginInfo = $('.login_info')
                            $loginInfo.css('display', 'block');
                            $loginInfo.html("login error")
                        }
                    }
                })
                console.log("end request");
            })

        })
    </script>
</header>

<body>
    <div>
        <form method="POST" action="{% url 'login_action' %}">

            用户名：<input type="text" id='username' name="username" ><br />
            密码：<input type="password" id='password' name="password"><br />
            <input type="submit" id="commit" value="form登录">
        </form>
        <div>
            -----------------------------------------------------
        </div>
        <!-- <form method="POST" action="ajax_handle"> -->
        <div>
            ajax用户名：<input type="text" id='ajax_username' name="ajax_username" value="{{rm_usename}}"><br />
            ajax密码：<input type="password" id='ajax_password' name="ajax_password"><br />
            <input type="submit" id="ajax_commit" value="ajax登录" /><br />
            记住用户名:<input type="checkbox" id='remember_username' value="记住用户名" /><br />
            自动登录:<input type="checkbox" id='auto_login' value="自动登录" /><br />
            <div style="display:none;font-style: initial;color:red;margin-top: 4dp" class="login_info">

            </div>
        </div>
    </div>
</body>

                <!-- {% if i.id|mod %} -->
